NODE_ENV=
PORT=
DB_PASSWORD=
DB_USERNAME=
DB=
JWT_TOKEN=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES_IN=
EMAIL_FROM=
EMAIL_HOST_MAILTRAP=
EMAIL_PORT_MAILTRAP=
EMAIL_USERNAME_MAILTRAP=
EMAIL_PASSWORD_MAILTRAP=
EMAIL_SERVICE_PROD=
EMAIL_PORT_PROD=
EMAIL_USERNAME_PROD=
EMAIL_PASSWORD_PROD=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=