.main--dashboard {
  min-height: 80vh;
  max-height: auto;
}

.section {
  padding: 4rem 10rem;

  &--create {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include borderBottom($color-primary-1);
  }
}

.section--urls {
  overflow-x: auto;

  &::-webkit-scrollbar {
    overflow: hidden;
  }
}