.main--error  {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;

  .error {
    
    &__suly {
      font-size: 4rem;
      color: $color-primary-1;
      font-weight: 400;
      display: inline-block;
      @include underlineAnimation();
    }

    &__text {
      font-size: 3rem;
      font-weight: 500;
      color: $color-primary-3;
    }

    &__paragraph {
      font-size: 2rem;
    }

    &__contact-text {
      font-size: 1.5rem;
    }

    a {
      display: inline-block;
    }
  }
}