.section--password-reset {
  position: relative;
  min-height: 75vh;
  padding: 4rem 10rem;

  .form__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
}