footer.footer 
  .footer--left 
    a.footer__logo(href='#')
      h1.u-mb-medium Su.ly

  .footer--right 
    h3.heading--secondary.u-mb-small Donations help us to run Su.ly for free! 
    a(href='/donate').btn.btn--fill Donate Now!