section.section.section--not-verified 
  p We have sent a confirmation email to your email address. Please click on the link in your email to verify your account and use su.ly! The email might be in the spam folder if it is not in the primary area. If you are still unable to find the email, please contact our support team.