head 
  title= title 
  link(rel='stylesheet' href='/styles/style.css')

main.main.main--error 
  section.error 
    h2.error__suly Su.ly
    h1.error__text.u-mb-medium An error has occured!
    p.error__paragraph.u-mb-small= message
    h5.error__contact-text.u-mb-small If this was unintenional, please contact our support team!
    a.btn.btn--fill(href='/') Take me home