.paragraph-primary {
  font-size: 3.6rem;
  width: 35ch;

  @include respond(tab-port) {
    font-size: 3rem;
    hyphens: auto;
  }

}

.paragraph--secondary {
  font-size: 2rem;
}

.heading--primary {
  font-size: 4rem;
  font-weight: 500;
  color: transparent;
  background-image: linear-gradient(to right bottom, rgba($color-primary-3, 0.8), rgba($color-primary-1, 0.9));
  -webkit-background-clip: text;
          background-clip: text;
}

.heading--secondary {
  font-size: 2.3rem;
  color: rgba($color-primary-1, 0.9);
}