.form-section {
  height: 80vh;
  width: 100%;
  position: relative;
  padding: 3rem 10rem;
  display: grid;
  place-items: center;
}

.form-container {
  // height: 60rem;
  width: 80rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
}