.footer {
  height: auto;
  width: 100%;
  padding: 4rem 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba($color-gray-1, 0.05);

  @include respond(phone) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &--left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      h1 {
      font-size: 5rem;
      font-weight: 400;
      color: $color-gray-1;
      @include underlineAnimation();
      display: inline-block;
    }
  }

  &--right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
      font-weight: 500;
    }
  }
}