.footer {
  height: auto;
  width: 100%;
  padding: 3rem 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba($color-gray-1, 0.05);

  @include respond(phone) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &--left {
    position: relative;
    height: 100%;
    width: 50%;
    @include respond(phone) {
      display: flex;
      justify-content: center;
      align-items: center;
    } 
      h1 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 5rem;
      font-weight: 400;
      color: $color-gray-1;
      display: inline-block;
      
      @include underlineAnimation();
      @include respond(phone) {
        position: relative;
        transform: translateY(0);
      }
    }
  }

  &--right {
    @include respond(phone) {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    h3 {
      font-weight: 500;
    }
  }
}