.header {
  height: 85vh;
  width: 100%;
  background-color: $color-white-3;
  padding: 10rem;
  position: relative;
  overflow-x: hidden;

  &__left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__right {
    position: absolute;
    top: 30%;
    right: -5%;
  }

  &__arrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);

    img {
      cursor: pointer;
      animation: moveUpDown 0.6s infinite alternate;
      transition: 0.3s ease;
    }
  }
}

