.nav {
  height: auto;
  width: 100%;
  background-color: $color-white-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;

  @include respond(phone) {
    padding: 2rem 5rem;
  }

  &__logo {
    font-size: 3rem;
    width: 50%;
    color: $color-gray-1;
    h1 {
      font-weight: 400;
      cursor: pointer;

      @include underlineAnimation();
    }
  }

  &__right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__link {
    text-decoration: none;
    &:not(:last-child) {
      margin-right: 1rem;
    }

    &--user {
      h1 {
        font-size: 2rem;
        color: $color-primary-2;
        padding-bottom: 0.2rem;
        @include underlineAnimation();
      }
    }
  }
}
