.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  @include respond(tab-port) {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }

  .feature__box {
    background-color: $color-white-3;
    padding: 3rem 1.8rem;
    border-radius: 0.2rem;
    position: relative;


    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      height: 0.3rem;
      background-color: $color-primary-1;
      width: 10%;
      transition: all 0.2s ease;
      border-bottom-left-radius: 0.2rem;
    }

    &:hover::after {
      width: 40%;
    }
    
    i {
      font-size: 3.8rem;
      color: $color-primary-2;
    }
  }
}