.form {
  &__group {
    width: 100%;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &-photo {
      display: flex;

      .form__label {
        position: absolute;
        bottom: 0;
        left: 10rem;
        font-size: 1.4rem !important;
        outline-offset: 2px;
        outline: 2px solid $color-primary-1;
        cursor: pointer;
        padding: 0.2rem 0.6rem;
        transition: 0.3s ease;

        &:hover {
          background-color: $color-primary-1;
          color: $color-white-1;
        }
      }
    }
  }

  &__label,
  &__input {
    font-size: 2rem;
    display: block;
    color: $color-primary-1;
    font-weight: 400;
  }

  &__input-photo {
    display: none;
  }

  &__photo {
    width: 7.5rem;
    height: 7.5rem;
    outline-offset: 2px;
    outline: 2px solid $color-primary-1;
  }

  &__input {
    width: 100%;
    color: $color-black-1;
    font-size: 2rem;
    padding: 1rem 1.2rem;
    outline: none;
    border: none;
    background-color: rgba($color-gray-1, 0.06);
    border-bottom: none;

    &::placeholder {
      color: rgba($color-gray-1, 0.8);
    }

    &:invalid {
      border-bottom: 3px solid $color-primary-1;
    }

    &:valid {
      border-bottom: 3px solid rgba($color-green-1, 0.8);
    }
  }

  &--data,
  &--password {
    h2 {
      display: inline-block;
      @include underlineAnimation;
    }
  }
}

.create-url,
#create-url-dashboard {
  width: 100%;

  input,
  button,
  a {
    padding: 1rem 2rem;
    font-size: 2rem;
    outline: none;
    border: none;
  }

  input {
    width: 80%;
    background-color: rgba($color-gray-1, 0.09);

    @include respond(tab-port) {
      width: 70%;
    }
  }

  button {
    width: 20%;

    @include respond(tab-port) {
      width: 30%;
    }
  }

  .hidden {
    display: none;
  }
}