.icon {
  color: $color-primary-1;
  cursor: pointer;
  transition: transform 2s ease;

  &--disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: rgba($color-primary-1, 0.5);
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:hover {
    transform: scale(1.02);
  }
}