.pagination {
  padding: 3rem 0;

  &__btn {
    display: inline-block;
    display: flex;
    justify-content: center;
    
    align-content: center;
  }
  
  &__btn--left {
    position: absolute;
    left: 0;
  }

  &__btn--right {
    position: absolute;
    right: 0;
  }

  &__page {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    bottom: -2%;
    text-decoration: underline 2px solid $color-primary-1;
  }
}