.pagination {
  padding: 3rem 0;

  &__btn {
    display: inline-block;
    display: flex;
    justify-content: center;
    
    align-content: center;
  }
  
  &__btn--left {
    position: absolute;
    left: 0;
  }

  &__btn--right {
    position: absolute;
    right: 0;
  }
}