// 1 -- Light
// 2 -- Medium
// 3 -- Dark

$color-primary-1: #E46D6D;
$color-primary-2: #e06060;
$color-primary-3: #ff0000;

$color-white-1: #FaFaFa;
$color-white-2: #f1f1f1;
$color-white-3: #fff;

$color-gray-1: #757575;
// $color-gray-2: 117, 117, 117;

$color-green-1: #2ed573;

$color-black-1: #222;
$color-black-2: #111;
$color-black-3: #000;